.container{
    max-width: 960px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
}

.note{
    background-color: #fef68a;
    border-radius: 10px;
    padding: 1rem;
    min-height: 170px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    white-space: pre-wrap;
}

.note-footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.notes-list{
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.note.new{
    background-color:hotpink ; 
}

textarea{
    resize: none;
    border: none;
    background-color: hotpink;
}

textarea:focus{
    outline: none
}

.save{
    border:none;
    border-radius: 15px;
    background-color: lightgray;
    padding: 5px 10px 
}

.save:hover{
    cursor: pointer;
    background-color: gray;
}

.delete-icon{
    cursor: pointer;
}